html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-width: 1280px;
    min-width: 360px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

header img {
    width: 85%;
    border-radius: 50%;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.name {
    font-size: 6.5em;
    font-weight: 800;
    margin: 0;

}

.speciality {
    font-size: 3em;
    margin: 0;


}

nav {
    background-color: #c0c0c0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 50px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.5em;
    font-weight: 700;
    padding-left: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.hidden {
    visibility: hidden;
    font-size: 1px;
}

main {
    display: flex;
    justify-content: space-between;
}

.main-wrapper {
    max-width: 700px;
}

aside {
    max-width: 500px;
}

ul{
    line-height: 2;
}

#my-goals p{
    line-height: 2;
    padding: 20px 0;
}

.bold-bottom-border{
    border-bottom: 5px #808184 solid;
}

section {
    margin-bottom: 50px;
}

.contact-list {
    list-style: none;
}

.contact-list li{
    padding-left: 45px;
    background: left center / 20px 20px no-repeat;
    margin-bottom: 10px;
}

.contact-list .phone {
    background-image: url(/rsschool-cv/images/phone-free-material-svgrepo-com.svg);
}

.contact-list .email {
    background-image: url(/rsschool-cv/images/envelope-svgrepo-com.svg);
}

.contact-list .location {
    background-image: url(/rsschool-cv/images/map-point-wave-svgrepo-com.svg);
}

.sub-text {
    font-size: 0.9em;
    padding-left: 30px;
}

.no-marker-list {
    list-style: none;
}

.code {
    background-color: #e4e2e2;
    border-radius: 10px;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 150px;
}
